<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
	<mapper namespace="jhmapper">
	
	<insert id="dosomething" parameterType="yodol">
		insert into t_yodol values (#{name}, #{id},#{pw},#{addr})
	</insert>
	
	
	</mapper>
	
	